{% extends 'base.html' %}
{% block content %}
    <!-- OVERVIEW -->
    <section>
        <div class="content row padding-bottom-3 desktop-12 container">
            <h1>Olá, obrigado por se inscrever.</h1>
            <div class="desktop-6">
                <ul>
                    <li>Nome: {{ subscription.name }}</li>
                    <li>CPF: {{ subscription.cpf }}</li>
                    <li>email: {{ subscription.email }}</li>
                    <li>Telefone: {{ subscription.phone }}</li>
                </ul>
                <p>Obrigado!</p>
            </div>
        </div>
    </section>
{% endblock content %}
